*{
    margin:0;
    padding:0;
    font-family:Verdana;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin:auto;
    padding: 35px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    margin:15px;
    position:relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(199, 255, 246);
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0%;
    background: #199c9c;
    position:absolute;
    left: 0;
    bottom: -3px;
    transition:0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin:20px auto;
    font-weight: 100;
    line-height: 25px;
}
.button{
    width: 300px;
    padding: 15px 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background:transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    text-align: center;
  }
  
  td, th {
    border: 1px solid #974747;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #c44716;
  }
  table.center {
    margin-left: auto; 
    margin-right: auto;
  }